<div class="content-unit">
  <div class="to-do-list">
    <div class="to-do-list-item-wrap">
      <label class="to-do-list-item">
        <input type="checkbox">
        <span>first task</span>
      </label>
      <label class="to-do-list-item">
        <input type="checkbox">
        <span>second task</span>
      </label>

      <label class="to-do-list-item" *ngFor="let toDoItem of toDoList">
        <input type="checkbox">
        <span>{{toDoItem.label}}</span>
      </label>
    </div>
  </div>
</div>
