.to-do-list-item-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.to-do-list-item {
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    cursor: pointer;
    padding-left: 1.6rem;
    display: block;
    flex-grow: 1;
  }
}

.to-do-list-item-name, .to-do-list-item-date {
  font-weight: 700;
}

.to-do-list-item-name {
  margin-left: 3.2rem;
}

.to-do-list-item-date {
  width: 12.9rem;
  flex-shrink: 0;
  cursor: pointer;
}
