/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  color: #444;
  overflow: hidden;
}

body {
  font-size: 1.4rem;
}

.content-wrap {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  padding: 2rem;
  overflow: auto;
}

.content-unit {
  background-color: #fff;
  padding: 2rem;
  border-radius: .4rem;
  margin-bottom: 2rem;
}

input, button, a, textarea {
  outline: none !important;
}

input {
  display: block;
  border-radius: .4rem;
  border: .1rem solid #d3d3d3;
  padding: 1rem;
}

button {
  display: block;
  border-radius: .4rem;
  border: 0;
  background-color: #007bff;
  color: #fff;
  padding: 1rem 2rem;
  opacity: .9;
  transition: .3s;

  &:hover {
    opacity: 1;
  }
}

input[type="checkbox"] {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  cursor: pointer;
}
